[MAIN]
ignore=.venv

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,too-few-public-methods,too-many-arguments,too-many-positional-arguments,duplicate-code

[FORMAT]
max-line-length=100
